<!-- app/views/layouts/notification_layout.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
  <title>Email Notification</title>
</head>
<body>
  <%= yield %>
  
</body>
</html>
